body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

main {
    flex: 1;
    width: 100%;
}

section {
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #282828;
    padding: 0px;
    text-align: center;

}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"],
input[type="file"],
button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

button {
    background-color: #1db954;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #1ed760;
}

#music-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#music-list div {
    padding: 10px;
    background-color: #282828;
    border-radius: 5px;
}

#music-list a {
    color: #1db954;
    text-decoration: none;
    font-size: 18px;
}

#now-playing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #282828;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

#cover-art {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
}

#track-info {
    flex: 1;
}

#track-title {
    margin: 0;
    font-size: 18px;
}

#track-artist {
    margin: 5px 0 0;
    font-size: 14px;
    color: #b3b3b3;
}

#audio-controls {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #282828;
    border-radius: 5px;
    margin-right: 10px;
}

#audio-controls button {
    background: none;
    color: #1db954;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

#audio-controls input[type="range"] {
    width: 100%;
}

#audio-controls span {
    font-size: 12px;
}

.slidecontainer {
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    margin: 0px;
    background: linear-gradient(to right, #1ed760 0%, #1ed760 var(--value), #121212 var(--value), #121212 100%);
    outline: none;
    opacity: 1;
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    width: 10px;
    height: 10px;
    background: #1ed760;
    border: none;
    border-radius: 10px;
    transition: opacity .1s;
}

.slider::-moz-range-thumb {
    opacity: 0;
    width: 10px;
    height: 10px;
    background: #1ed760;
    border: none;
    border-radius: 10px;
    transition: opacity .1s;
}