@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Urbanist", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

main {
    flex: 1;
    width: 100%;
}

section {
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #282828;
    padding: 0px;
    text-align: center;

}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"],
input[type="file"],
button {
    padding: 10px;
    border: none;
    font-size: 16px;
}

button {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

button:hover {
    background-color: #f3f3f3;
}

#music-list-section {
    margin-top: 20px;
}

#music-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.music-item {
    position: relative;
    background-image: linear-gradient(135deg, var(--art-color), #282828);
    background-position: 100%;
    background-size: 150%;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: transform 0.4s, background-position 1s ease-out;
}

.music-item img.cover-art {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.music-item .music-info {
    flex: 1;
}

.music-item-title {
    font-size: 16px;
    font-weight: bold;
}

.music-item-artist {
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
}

.music-item:hover {
    transform: scale(1.05);
    background-position: 0%;
}

.music-item .hifi-tag {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 12px;
}

#now-playing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px;
    width: 100%;
    transition: transform 0.6s;
}

#cover-art-container {
    position: fixed;
    bottom: 96px;
    left: 0px;
    padding: 30px;
}

#cover-art {
    width: 300px;
    height: 300px;

    box-shadow: 0 0 20px 10px var(--art-color);
    /* border: 8px solid var(--art-color); */
}

#track-info {
    height: 100%;
    text-align: left;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#track-title {
    margin: 0;
    font-size: 18px;
}

#track-artist {
    margin: 5px 0 0;
    font-size: 14px;
    color: #b3b3b3;
}

#audio-controls {
    display: flex;
    align-items: center;
    padding: 10px;
}

#audio-controls button {
    background: none;
    color: #fff;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

#audio-controls input[type="range"] {
    width: 100%;
}

#audio-controls span {
    font-size: 12px;
}

.playtime {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 10px;
}

.slidecontainer {
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    margin: 0px;
    background: linear-gradient(to right, var(--art-color) 0%, var(--art-color) var(--value), #000 var(--value), #000 100%);
    outline: none;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    width: 10px;
    height: 10px;
    background: var(--art-color);
    border: none;
    transition: opacity .1s;
}

.slider::-moz-range-thumb {
    opacity: 0;
    width: 10px;
    height: 10px;
    background: var(--art-color);
    border: none;
    transition: opacity .1s;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #000;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}

.not-playing {
    transform: translateY(100%);
}