@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Urbanist", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    --art-color: #fff;
}

#anti-sidebar {
    width: calc(100% - 300px);
    position: absolute;
    left: 300px;
    overflow: hidden;

}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    margin: auto;
}

header {
    margin-bottom: 20px;
}

main {
    flex: 1;
    width: 100%;
}

section {
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #282828;
    padding: 0px;
    text-align: center;
    z-index: 2;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #fff;
    color: #000;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    cursor: pointer;
}

button:hover {
    background-color: #000;
    color: #fff;
}

.content {
    display: flex;
    margin-bottom: 100px;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: calc(100vh - 425px);
    background-color: #000;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#sidebar {
    overflow-y: auto;
    flex: 1;
}

aside h2,
aside h3 {
    color: #fff;
}

aside button {
    text-align: left;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    transition: border 0.2s;
}

aside button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}

aside button.selected {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}

.sidebar-toggle {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 20;
    width: 50px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}


input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #000;
    color: #fff;
    font-family: "Urbanist"
}

input[type="text"]::placeholder {
    color: #fff;
}

input[type="text"]:focus {
    outline: none;
}

input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #000;
    color: #fff;
    font-family: "Urbanist"
}

input[type="password"]::placeholder {
    color: #fff;
}

input[type="password"]:focus {
    outline: none;
}

#playlists-list,
#albums-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#playlists-list li,
#albums-list li {
    padding: 10px;
    cursor: pointer;
    color: #ccc;
}

#playlists-list li:hover,
#albums-list li:hover {
    background-color: #333;
    color: #fff;
}

#playlists-list button {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#user-info span {
    font-weight: bold;
    font-size: 18px;
}

#user-info button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
    border: 1px solid #000;
    transition: border 0.2s;
}

#user-info button:hover {
    background-color: #f44336;
    border: 1px solid #f44336;
}

/* Main content adjustments */
main {
    flex: 1;
    padding: 20px;
}

.music-list-section {
    margin-top: 20px;
}

.music-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.music-item {
    position: relative;
    background-image: linear-gradient(135deg, var(--art-color), #282828);
    background-position: 100%;
    background-size: 150%;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 0 40px 20px #0000;
    transition: transform 0.4s, background-position 1s ease-out, box-shadow 0.6s ease-out;
}

.music-item img.cover-art {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.music-item .music-info {
    flex: 1;
    max-height: 80px;
}

.music-item-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    max-height: 2.4em;
    overflow: hidden;
    text-overflow: "";
    white-space: wrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.music-item-artist {
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
}

.music-item .hifi-tag {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 12px;
}

.music-item svg {
    width: 24px;
    height: 24px;
    fill: #fff;
    opacity: 0;
    cursor: pointer;

    transition: opacity 0.2s;
}

.music-item #add-to-playlist {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    background-color: #0000;
    border: none;
    transition: transform 0.2s;
}

.music-item:hover svg {
    opacity: 1;
}

.music-item #add-to-playlist:hover {
    transform: scale(1.2);
}

.music-item.playing {
    background-image: linear-gradient(135deg, #000, #000);
    box-shadow: 0 0 40px 20px var(--art-color);
    transform: scale(1.02);
    z-index: 1;
}

.music-item:hover {
    transform: scale(1.05);
    background-position: 0%;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#login-form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    transition: border 0.2s;
}

#login-form button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}

#search-input {
    width: 100%;
}

#search-results {
    margin-top: 20px;
    padding: 20px;
}

.playlist-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.albums-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.playlist-item {
    position: relative;
    background: linear-gradient(135deg, var(--art-color), #282828);
    background-position: 100%;
    background-size: 150%;
    border-radius: 0px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    padding-bottom: 0;
    gap: 15px;

    transition: transform 0.3s ease, background-position 1s ease-out;
}

.playlist-item:hover {
    transform: scale(1.05);
    background-position: 0%;
}

.playlist-item-art {
    display: grid;
    width: 160px;
    height: 160px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
}

.playlist-item-art img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.playlist-item-art {
    width: 160px;
    height: 160px;
    justify-content: center;
    align-items: center;
}

.album-item-art img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.playlist-item-info {
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.playlist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.playlist-item-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.playlist-item-artist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.playlist-item-count {
    font-size: 14px;
    color: #ccc;
}

.playlist-item svg {
    width: 24px;
    height: 24px;
    fill: #fff;
    opacity: 0;
    cursor: pointer;
    background-color: #0000;

    transition: opacity 0.2s;
}

.add-playlist-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    color: #0000;
    background-color: #0000;
    border: none;
    transition: transform 0.2s;
}

.added-playlist-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    color: #0000;
    background-color: #0000;
    border: none;
    transition: transform 0.2s;
}

.playlist-item:hover svg {
    opacity: 1;
}

.playlist-item .add-playlist-button:hover {
    color: #0000;
    background-color: #0000;
    transform: scale(1.2);
}

.playlist-item .added-playlist-button:hover {
    color: #0000;
    background-color: #0000;
}

.playlist-item .added-playlist-button svg {
    opacity: 1;
}

#playlist-menu {
    position: fixed;
    scale: 1;
    background-color: #000;
    box-shadow: 0 0 40px 20px var(--art-color);
    padding: 20px;
    z-index: 1000;

    transition: box-shadow 0.6s ease-out;
}

#playlist-menu.menu-hidden {
    scale: 0;
    box-shadow: 0 0 40px 20px #0000;
}

#playlist-menu h2 {
    color: #fff;
    margin-top: 0;
}

#playlist-menu h3 {
    color: #fff;
}

#playlist-menu form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#existing-playlists {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: auto;
    max-width: 300px;
    overflow-x: hidden;
}

#existing-playlists button {
    text-align: left;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    transition: border 0.2s;
}

#existing-playlists button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}

#now-playing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 20px 0;
    width: 100%;

    box-shadow: 0 0 40px 20px var(--art-color);

    transition: transform 0.6s, box-shadow 0.6s ease-out;
}

#data-scroll-container {
    position: fixed;
    bottom: 100px;
    width: 300px;
    height: 25px;
    left: 0px;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-size: 1.3em;
    text-align: left;
    padding: 0px;
}

#data-scroll span {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    animation: scroll 32s linear infinite;
    animation-play-state: paused;
}

#data-scroll span#num2 {
    animation: scroll2 32s linear infinite;
    animation-play-state: paused;
}

#data-scroll span#num3 {
    animation: scroll3 32s linear infinite;
    animation-play-state: paused;
}

#data-scroll span#num4 {
    animation: scroll4 32s linear infinite;
    animation-play-state: paused;
}

#data-scroll.playing span {
    animation-play-state: running;
}

#data-scroll.playing span#num2 {
    animation-play-state: running;
}

#data-scroll.playing span#num3 {
    animation-play-state: running;
}

#data-scroll.playing span#num4 {
    animation-play-state: running;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    25% {
        transform: translateX(0%);
    }

    25.01% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-100%);
    }

    50.01% {
        transform: translateX(300%);
    }

    75% {
        transform: translateX(200%);
    }

    75.01% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(200%);
    }

    25% {
        transform: translateX(100%);
    }

    25.01% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(0%);
    }

    50.01% {
        transform: translateX(0%);
    }

    75% {
        transform: translateX(-100%);
    }

    75.01% {
        transform: translateX(300%);
    }

    100% {
        transform: translateX(200%);
    }
}

@keyframes scroll3 {
    0% {
        transform: translateX(300%);
    }

    25% {
        transform: translateX(200%);
    }

    25.01% {
        transform: translateX(200%);
    }

    50% {
        transform: translateX(100%);
    }

    50.01% {
        transform: translateX(100%);
    }

    75% {
        transform: translateX(0%);
    }

    75.01% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll4 {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-100%);
    }

    25.01% {
        transform: translateX(300%);
    }

    50% {
        transform: translateX(200%);
    }

    50.01% {
        transform: translateX(200%);
    }

    75% {
        transform: translateX(100%);
    }

    75.01% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}




#cover-art-container {
    position: fixed;
    bottom: 125px;
    width: 300px;
    height: 300px;
    left: 0px;
    padding: 0px;
    z-index: -1;
}

#cover-art {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 40px 20px var(--art-color);
    transition: box-shadow, 0.6s ease-out;
}

#cover-art-container svg {
    width: 24px;
    height: 24px;
    fill: #fff;
    opacity: 0;
    cursor: pointer;

    transition: opacity 0.2s;
}

#cover-art-container:hover svg {
    opacity: 1;
}

#cover-art-container .share-song-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    background-color: #0000;
    border: none;
    transition: transform 0.2s, background-color 0.2s;
}

#cover-art-container .share-song-button:hover {
    transform: scale(1.2);
}

#cover-art-container:hover .share-song-button {
    background-color: #000;
}

#cover-art-container .edit-song-button {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    background-color: #0000;
    border: none;
    transition: transform 0.2s, background-color 0.2s;
}

#cover-art-container .edit-song-button:hover {
    transform: scale(1.2);
}

#cover-art-container:hover .edit-song-button {
    background-color: #000;
}

#mini-cover-art {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 80px;
    box-shadow: 0 0 40px 20px var(--art-color);
    transition: box-shadow, 0.6s ease-out;
}

#track-info {
    position: absolute;
    left: 10px;
    text-align: left;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    z-index: 0;
}

.track-info-gradient:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    background: linear-gradient(to left, #000, transparent);
    pointer-events: none;
}

#track-title {
    margin: 0;
    font-size: 18px;
}

#track-artist {
    margin: 5px 0 0;
    font-size: 14px;
    color: #b3b3b3;
}

#audio-controls {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1;
}

#audio-controls button {
    background: none;
    color: #fff;
    padding: 0;
    border: none;
    cursor: pointer;
}

#audio-controls svg {
    width: 48px;
    height: 48px;
    fill: #fff;
    cursor: pointer;

    transition: fill, 0.6s ease-out;
}

#audio-controls .control-button svg {
    width: 24px;
    height: 24px;
}

#audio-controls button.active svg {
    fill: var(--art-color);
}

.control-button {
    position: relative;
}

.control-button::before {
    content: '';
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000;
    transition: background-color, 0.6s ease-out;
}

.control-button.active::before {
    background-color: var(--art-color);
}

.volume {
    position: absolute;
    right: 100px;
    align-items: center;
    padding: 10px;
}

.volume input {
    height: 12px;
}

.playtime {
    position: absolute;
    right: 10px;
    align-items: center;
    padding: 10px;
}

.slidecontainer {
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#seek-slider {
    --value: 0;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    margin: 0px;
    background-color: #000;
    background: linear-gradient(to right, var(--art-color) 0%, var(--art-color) var(--value), #000 var(--value), #000 100%);
    outline: none;
    cursor: pointer;
}

#volume-slider {
    background: linear-gradient(to right, #fff 0%, #fff var(--value), #121212 var(--value), #121212 100%);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    width: 10px;
    height: 10px;
    background: var(--art-color);
    border: none;
    transition: opacity .1s;
}

.slider::-moz-range-thumb {
    opacity: 0;
    width: 10px;
    height: 10px;
    background: var(--art-color);
    border: none;
    transition: opacity .1s;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #000;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.not-clickable {
    pointer-events: none;
    cursor: default;
}

.not-clickable:hover {
    transform: none;
}

.hidden {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    top: 10px;
    left: 310px;
    z-index: 1000;
    background-color: #000;
    padding: 20px;
    width: calc(100% - 360px);
}

.modal-content {
    position: relative;
}

.modal-content h2 {
    margin: 0;
}

.close-btn {
    position: absolute;
    right: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#donate-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF5E5B;
    color: #fff;
    text-decoration: none;
}

.modal-content blockquote {
    margin: 20px 0;
}

#monero-wallet {
    padding: 10px;
    color: #fff;
    border: #fff solid 1px;
    display: flex;
    justify-content: center;
    overflow: auto;
    margin-bottom: 30px;
}

#alredy-donated-button {
    position: absolute;
    right: 10px;
    bottom: 0px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 768px) {
    aside {
        height: 100vh;
        width: 100%;
        z-index: 10;
        transform: translateX(-100%);
        transition: transform 0.3s;
    }

    .content {
        width: 90%;
    }

    .sidebar-toggle {
        display: block;
    }

    aside.active {
        transform: translateX(0);
    }

    #anti-sidebar {
        width: 100%;
        left: 0;
    }

    #cover-art-container {
        display: none;
    }

    #data-scroll-container {
        display: none;
    }

    #audio-controls {
        display: none;
    }

    .volume {
        display: none;
    }

    .playtime {
        display: none;
    }

    #now-playing {
        height: 40px;
    }

    #mini-cover-art {
        display: block;
    }

    #track-info {
        left: 100px;
    }
}